---

import Layout from '../layouts/Layout.astro';
import SobreNosotros from '../components/sobre nosotros.astro';
import MisProductos from '../components/Mis Productos.astro';
import Contacto from '../components/contacto.astro';
import Chatbot from '../components/chatbot/chatbot.astro';
---

<Layout>
	<main class="flex flex-col justify-center items-center min-h-screen">

		<section id="home" class="h-screen flex flex-col justify-center items-center text-center bg-cover bg-center" style="background-image: url('varios.jpeg');">
			<div class=" p-6 rounded-xl shadow-xl">
			  <h1 class="text-4xl font-bold text-amber-500 mb-4">Bienvenido a Ansesstral</h1>
			  <p class="text-lg text-amber-500 mb-4 font-bold">Artesanías y sabiduría de la etnia Zenú hechas con caña flecha  <br />
				La sabiduría de nuestros ancestros vive en cada hebra de la caña flecha..</p>
			  
			</div>
		  </section>
			
	</main>
     <SobreNosotros/>
	 <MisProductos/>
	 <Contacto/>
	 <Chatbot/>
	 

  </Layout>
  