<header class="fixed top-0 left-0 right-0 z-50 flex justify-between items-center p-4 bg-transparent">
    <div class="bg-white/90 shadow-lg px-4 py-2 rounded-xl flex items-center gap-2">
      <img src="/azul.jpeg" alt="Logo" class="h-8 rounded-full bg-white p-1" />
      <span class="text-amber-500 font-bold text-lg">Ansesstral</span>
    </div>
  
    <nav class="hidden md:block bg-white/90 px-4 py-2 rounded-xl shadow-lg">
      <ul class="flex gap-6">
        <li><a href="#" class="text-black hover:text-amber-400 transition-colors font-medium">Inicio</a></li>
        <li><a href="#about" class="text-black hover:text-amber-400 transition-colors font-medium">Sobre Nosotros</a></li>
        <li><a href="#productos" class="text-black hover:text-amber-400 transition-colors font-medium">Mis productos</a></li>
        <li><a href="#Contacto" class="text-black hover:text-amber-400 transition-colors font-medium">Contacto</a></li>
      </ul>
    </nav>
  </header>
  