---
import ProductosCarousel from '../components/ProductosCarousel.jsx';
---

<section id="productos" class="py-16 bg-white/10 backdrop-blur-sm rounded-lg p-6 my-8 w-full">
  <h2 class="text-3xl font-bold mb-8 text-center text-amber-400">Mis Productos</h2>
  <ProductosCarousel client:load />

</section>
