---

import Header from "../components/Header.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/re.png" />
    <meta name="generator" content={Astro.generator} />
    <title>Ansesstral</title>
	<script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-[url('/varios.jpeg')] bg-center bg-fixed text-white bg-animado min-h-screen">
    <Header />
	
	
    
    <main class="max-w-4xl w-full p-4">
		
      <slot />
    </main>
  </body>
</html>

<style>
	
  html {
    font-family: system-ui, sans-serif;
	
  }

  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
</style>